$dr:rgb(155, 30, 34);
$r: rgb(196, 37, 43);
$lr: rgb(216, 79, 84);
$b: #000000;
$w: #ffffff;
$dg: #1f2020;
$gr: rgb(94, 94, 94);

// Typology
%uc {
    text-transform: uppercase;
}
%center {
    text-align: center;
}

// Random globals
%space {
    margin: 0;
    padding: 0;
}
%inline {
    display: inline-block;
}
%table {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid $w;
}
%lst {
    list-style-type: none;
}
%inputborder {
    border: 1px solid $gr;
}
// Buttons
%panel {
    border: 1px solid $w;
    color: $w;
    background-color: $r;
}
%panel_hover {
    border: 1px solid $r;
    color: $r;
    background-color: $w;
}